<!DOCTYPE html>
<html>
<head>
	<title>MongoDB Example | Register</title>

	<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet" >
	<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js" type="text/javascript"></script>
	<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.js" type="text/javascript"></script>

	<script type="text/javascript">
		function register() {
			var data = $('form').serialize();  //序列号表单字段值
			$.ajax({
				url: '/register',
				type: 'POST',
				data: data,
				success: function(data, status) {
					if (status === 'success') {
						location.href = 'register';
					}
				},
				error: function(res, err) {
					location.href = 'register';
				}
			});
		}
	</script>
</head>
<body>

<input type="button"  onclick="register()" value="注 册" />

</body>
</html>
